logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
build_dist/
devLogs/
proLogs/
.idea/
.vscode/
run/
public/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
